#
node_modules/
target/
logs/
dist/

.svn/
.idea/
.vscode/
.settings/
.externalToolBuilders/

.DS_Store
.classpath
.project
.factorypath
.env.local
.env.*.local

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.idea
*.iml
*.log
